<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::title}, ~{::body})}">

<title>[[#{label.changePassword}]]</title>

<div th:fragment="body" class="container position-relative">
    <div class="row">
        <div class="col-2">
            <th:block th:replace="~{member/fragment/list-group :: listGroup}">

            </th:block>
        </div>
        <div class="col-9 offset-1">
            <div class="h1 mb-5">
                [[#{label.changePassword}]]
            </div>
            <form th:action th:method="post" class="form" th:object="${editPasswordForm}">
                <div class="row mb-3">
                    <label for="currentPassword" class="col-2 col-form-label">현재 비밀번호</label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:errorclass="border-danger" id="currentPassword" th:field="*{currentPassword}">
                        <div th:errors="*{currentPassword}" class="text-danger">
                            비밀번호가 맞지 않습니다.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="nextPassword" class="col-2 col-form-label">변경할 비밀번호</label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:errorclass="border-danger" id="nextPassword" th:field="*{nextPassword}" placeholder="영문, 특수문자, 숫자 포함 8자 이상">
                        <div th:errors="*{nextPassword}" class="text-danger">
                            비밀번호 형식 오류
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="checkPassword" class="col-2 col-form-label">비밀번호 확인</label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:errorclass="border-danger" id="checkPassword" th:field="*{checkPassword}">
                        <div th:errors="*{checkPassword}" class="text-danger">
                            비밀번호 확인 오류
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary col-auto">비밀번호 변경</button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-primary alert-dismissible position-absolute top-0 start-50 translate-middle" role="alert" id="liveAlert" th:if="${param.status}">
        변경된 비밀번호가 저장되었습니다.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

</html>