<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="border-top mt-5">
    <div class="container">
        <div class="row justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 qwe910205@github.com</p>

            <button type="button" class="col-auto btn btn-white" onclick="location.href='/'">로고</button>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" th:href="@{/contents}" class="nav-link px-2 text-muted">게시판</a></li>
            </ul>
        </div>
    </div>
</footer>

</html>