<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header class="bg-dark mb-5" th:unless="${#session}">
    <div class="container">
        <div class="row align-items-center justify-content-between pt-2 pb-2">
            <div class="d-flex col-auto">
                <a href="/"><img th:src="@{/img/스터디그룹.png}" width="50" height="40"></a>
                <ul class="nav nav-pills">
                    <li class="nav-items"><a href="#" th:href="@{/board/list}" class="nav-link px-2 text-white">게시판</a></li>
                </ul>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-light" onclick="location.href='/members/login'">[[#{button.login}]]</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/members/join'">[[#{button.join}]]</button>
            </div>
        </div>
    </div>
</header>

<header class="bg-dark mb-5"  th:if="${#session}">
    <div class="container">
        <div class="row align-items-center justify-content-between pt-2 pb-2">
            <div class="d-flex col-auto">
                <a href="/"><img th:src="@{/img/스터디그룹.png}" width="50" height="40"></a>
                <ul class="nav nav-pills">
                    <li class="nav-items"><a href="#" th:href="@{/board/list}" class="nav-link px-2 text-white">게시판</a></li>
                </ul>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-info" onclick="location.href='/members/my-info'">[[#{button.myPage}]]</button>
                <button type="button" class="btn btn-danger" onclick="location.href='/members/logout'">[[#{button.logout}]]</button>
            </div>
        </div>
    </div>
</header>
</html>